html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #011903;
    color: #f4f4f4;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
}

h3 {
    font-family: 'Inter', cursive;
}

.w-1\/7 {
  width: 14.2857143%; /* 100% / 7 */
}

.w-1\/8 {
  width: 12.5%;     /* 100% / 8 */
}

.band-img{
    height: 400px;
    width: auto;
    box-shadow: 0 0 5px #000000, 0 0 10px 0;
}

.poster-glow{
  box-shadow: 0 0 5px #000000, 0 0 10px 0;
}

.text-primary-2026{
  color: #cec641
}

.divider-bottom {
    padding-bottom: 25px;;
    border-bottom: 1px solid rgba(206, 198, 65, 0.4); /* Cor com 40% de opacidade */
}

.band-img:hover {
    box-shadow: 0 0 40px rgba(206, 198, 65, 0.5);
    transform: scale(1.03);
}

.poster-glow:hover {
    box-shadow: 0 0 70px rgba(206, 198, 65, 0.6);
}
